<div class="card shadow text-center ">
    <div class="card-body">
      <h3>Bachelor of Engineering - Mechanical Engineering</h3>
      <h5 class="card-title">Chennai Institute of Technology</h5>
      <p class="card-text">September 2021 - April 2025</p><p><b>CGPA:</b> 8.72</p>
      <hr>

      <h3>Higher Secondary</h3>
      <h5 class="card-title">Velammal Institutions</h5>
      <p class="card-text">2021</p><p><b>Percentage:</b>95.71</p>

      <hr>

      <h3>High School</h3>
      <h5 class="card-title">Velammal Institutions</h5>
      <p class="card-text">2019</p>
      <p><b>Percentage:</b>95.8</p>
    </div>
  </div>
