<div class="card shadow text-center ">
    <div class="card-body">
      <h3>
        Third place at the National Level Competition on Engineering Design</h3>
      <h5 class="card-title">Issued by SAEINDIA Southern Section</h5>
      <p class="card-text">November 2023</p>
      <hr>

      <h3>
        First place at the National Level Competition on UG/NX CAD Modelling and Drafting</h3>
      <h5 class="card-title">Issued by SAEINDIA Southern Section</h5>
      <p class="card-text">March 2023</p>

    </div>
  </div>
