<div class="card shadow text-center">
  <div class="card-body">
    <img
      src="../../assets/profile.jpg"
      alt="profile picture"
      width="256"
      height="256"
      class="rounded-circle"
    />
<br>
<br>
    <p class="card-text">I am a motivated learner with a keen interest in the realms of
        design, analysis, and product development. My commitment
        to acquiring new skills has proven instrumental in my success
        across a spectrum of learning and projects.</p>
  </div>
</div>
