<div class="card shadow text-center ">
    <div class="card-body">
      <h3>Internship</h3>
      <h5 class="card-title">Rane Madras Ltd (RML)</h5>
      <p class="card-text">June 2023 - July 2023</p>
      <hr>

      <h3>Student Researcher</h3>
      <h5 class="card-title">Center for Design and Digital Manufacturing, Chennai Institute of Technology</h5>
      <p class="card-text">July 2022 - Present</p>

      <hr>

      <h3>Student Program Coordinator</h3>
      <h5 class="card-title">CIT-SAE Collegiate Club</h5>
      <p class="card-text">May 2022 - April 2023</p>
      
      <hr>

      <h3>Team Leader</h3>
      <h5 class="card-title">National Level Engineering Design
        Competition (2023), SAE INDIA SOUTHERN SECTION</h5>
      <p class="card-text">November 2023</p>
    </div>
  </div>
