<div class="card shadow text-center ">
  <div class="card-body">
    <h3>Industrial Project - Gokul Auto Tech Pvt Ltd.</h3>
    <h5 class="card-title">Layout Optimization for a Die Casting Industry</h5>
    <p class="card-text">Optimization based on Lean Manufacturing principles to
      achieve process flow.</p>
    <p><b>Skills:</b> AUTOCAD, Lean Manufacturing.</p>

    <hr />
    <a href="https://drive.google.com/drive/folders/1ggJkRvqSFsDq6p5BbIY3J55kQ9OCRZjx?usp=sharing" target="_blank"><button class="btn btn-secondary">Explore</button></a>
  </div>
</div>
<br>
<div class="card shadow text-center ">
  <div class="card-body">
    <h3>Industrial Project - Gokul Auto Tech Pvt Ltd.</h3>
    <h5 class="card-title">Plant Simulation of a Die Casting Industry</h5>
    <p class="card-text">3D Model of the entire plant is created with appropriate dimensions and simulated.</p>
    <p><b>Skills:</b> CATIA V5, DELMIA, AUTOCAD.</p>

    <hr />
    <button class="btn btn-secondary">Explore</button>
  </div>
</div>
<br>
<div class="card shadow text-center ">
  <div class="card-body">
    <h3>Academic Project </h3>
    <h5 class="card-title">Design and Analysis a Detachable Telescopic Cargo Carrier Frame </h5>
    <p class="card-text">Telescopic frame is designed and analyzed based on general Boundary Conditions</p>
    <p><b>Skills:</b> CATIA V5, FUSION360, ANSYS.</p>

    <hr />
    <button class="btn btn-secondary">Explore</button> 
  </div>
</div>


  
