<div class="container">
  <div class="text-center border mb-5 shadow rounded"style="background-color: #cac9c986;
  color: black;">
    <h1>Contact</h1>
    <p></p>
  </div>

  <div class="list-group shadow">
    <a
      href="https://www.linkedin.com/in/abiishake-u/"
      target="-blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <img
        src="../../assets/in.png"
        width="32"
        height="32"
        alt=""
        class="rounded-circle flex shrink-0 me-5"
      /><h3 class="mb-0">linkedin</h3>
    </a>
    
  </div>

  
  <div class="list-group shadow">
    <a
      href="https://grabcad.com/abiishake.u-1"
      target="-blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <img
        src="../../assets/grabcad-logo.jpg"
        width="32"
        height="32"
        alt=""
        class="rounded-circle flex shrink-0 me-5"
      /><h3 class="mb-0">Grabcad</h3>
    </a>
    
  </div>


  <div class="list-group shadow">
    <a
      href="mailto:abiishakeu@gmail.com"
      target="-blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <img
        src="../../assets/4672500.png"
        width="32"
        height="32"
        zoom="100%"
        alt=""
        class="rounded-circle flex shrink-0 me-5"
      /><h3 class="mb-0">Mail</h3>
    </a>
    
  </div>
  


  <div class="list-group shadow">
    <a
      href="https://www.instagram.com/abiishake45/"
      target="-blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <img
        src="../../assets/Instagram_logo_2016.svg.png"
        width="32"
        height="32"
        alt=""
        class="rounded-circle flex shrink-0 me-5"
      /><h3 class="mb-0">Instagram</h3>
    </a>
    
  </div>
</div>
