<div class="card shadow text-center">
  <div class="card-body">
    <h3>UG/ NX CAD Modeling and Drafting</h3>
    <h5 class="card-title">SAEINDIA Southern Section</h5>
    <p class="card-text"></p>

    <hr />
    <a
      href="https://drive.google.com/file/d/1YI8hmwGoDSITF98qO10ayIoBsJgd8IV1/view?usp=sharing"
      target="_blank"
      ><button class="btn btn-secondary">Show Credential</button></a
    >
  </div>
</div>
<br />
<div class="card shadow text-center">
  <div class="card-body">
    <h3>Engineering Design</h3>
    <h5 class="card-title">SAEINDIA Southern Section</h5>
    <p class="card-text"></p>

    <hr />
    <a href="/contact" target="_blank"><button class="btn btn-secondary">Show Credential</button></a>
  </div>
</div>
<br />
<div class="card shadow text-center">
  <div class="card-body">
    <h3>Digital Manufacturing & Design</h3>
    <h5 class="card-title">
      University At Buffalo and The State University of New York | Coursera
    </h5>
    <p class="card-text"></p>

    <hr />
    <div>
      <a
        href="https://www.coursera.org/account/accomplishments/records/DDEKA6SXHM57"
        target="_blank"
        ><button class="btn btn-secondary">Show Credential</button></a
      >
    </div>
  </div>
</div>

<div class="modal" id="showcontent">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>hello world</h5>
      </div>
      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum modi
          eligendi molestias nulla repellat, suscipit quo unde consequatur,
          doloribus quidem repudiandae ab, autem fuga minus aspernatur beatae
          molestiae facere corrupti.
        </p>
      </div>
      <div class="modal-footer">
        <h5>thats all</h5>
      </div>
    </div>
  </div>
</div>
