<div class="card shadow text-center ">
    <div class="card-body">
      <h4>CATIA V5</h4>
      <p class="card-text">Part Design,
         Assembly Design,
         Drafting,
         Generative Shape Design - Surface.
        </p>
      <hr>

      <h4>UG/ NX CAD</h4>
      <p class="card-text">Part Design,
         Assembly Design,
         Drafting.</p>

      <hr>

      <h4>ANSYS</h4>
      
      <p class="card-text">Static Structural,
         Steady State Thermal,
         Topology Optimization.</p>

         <hr>

         <h4>AUTOCAD</h4>
         
      
    </div>
  </div>
