<div class="container">
  <div class="text-center border mb-5 shadow rounded" style="background-color: #cac9c986;
  color: black;">
    <h1>Projects</h1>
    <p></p>
  </div>

  <div class="row">
    <div
       
      class="text-center  mb-5 "
      
    >
      <app-project-card ></app-project-card>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center border mb-5 shadow rounded"  style="background-color: #cac9c986;
  color: black;">
    <h1>Certifications</h1>
    <p></p>
  </div>

  <div class="row">
    <div
       
      class="text-center  mb-5 "
      
    >
      <app-cert-card ></app-cert-card>
    </div>
  </div>
</div>

