<div class="container text-center">
  <button (click)="DownloadFile()" class="btn btn-primary mb-8 shadow border">
    Download Pdf Resume
  </button>
</div>
<br>
<div class="container">
    <div class="text-center border mb-5 shadow rounded" class="text-center border mb-5 shadow rounded" style="background-color: #cac9c986;
    color: black;">
      <h1>Education</h1>
      <p></p>
    </div>
  
    <div class="row">
      <div
         
        class="text-center  mb-5 "
        
      >
        <app-education ></app-education>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="text-center border mb-5 shadow rounded" style="background-color: #cac9c986;
    color: black;">
      <h1 >Experience</h1>
      <p></p>
    </div>
  
    <div class="row">
      <div
         
        class="text-center  mb-5 "
        
      >
        <app-experience ></app-experience>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="text-center border mb-5 shadow rounded" class="text-center border mb-5 shadow rounded" style="background-color: #cac9c986;
    color: black;">
      <h1>Achievements</h1>
      <p></p>
    </div>
  
    <div class="row">
      <div
         
        class="text-center  mb-5 "
        
      >
        <app-ach></app-ach>
      </div>
    </div>
  </div>