<body>
  <div class="container">
    
  
    <div class="row">
      <div
         
        class="text-center  mb-5 "
        
      >
        <app-about></app-about>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="text-center border mb-5 shadow rounded"  style="background-color: #cac9c986;
    color: black;">
      <h1>Skills</h1>
      <p></p>
    </div>
  
    <div class="row">
      <div
         
        class="text-center  mb-5 "
        
      >
        <app-skills></app-skills>
      </div>
    </div>
  </div>
</body>
